aiocache==0.11.1
aiocqhttp==1.3.0
aiofiles==0.5.0
aiohttp==3.6.2
APScheduler==3.6.3
arrow==0.15.7
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.1
blinker==1.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
expiringdict==1.2.1
feedparser==5.2.1
fuzzywuzzy==0.18.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.7.17
httpcore==0.9.1
httpx==0.13.3
Hypercorn==0.10.1
hyperframe==5.2.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
kiwisolver==1.2.0
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib==3.3.0
multidict==4.7.6
nonebot==1.6.0
numpy==1.22.0
oauthlib==3.1.0
opencc-python-reimplemented==0.1.6
peewee==3.13.3
pillow~=7.1
priority==1.3.0
pygtrie==2.3.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
Quart==0.11.5
requests==2.24.0
requests-cache==0.5.2
requests-oauthlib==1.3.0
rfc3986==1.4.0
six==1.15.0
sniffio==1.1.0
sogou-tr-free==0.0.8
soupsieve==2.0.1
tinydb==4.1.1
toml==0.10.1
TwitterAPI==2.5.13
typing-extensions==3.7.4.2
tzlocal==2.1
urllib3==1.25.9
Werkzeug==1.0.1
wsproto==0.15.0
yarl==1.4.2
zhconv==1.4.1
