# Quart==0.14.1
# MarkupSafe~=1.0
# Jinja2~=2.11.2
# werkzeug~=1.0.1
wsproto~=0.15.0
# nonebot[scheduler]==1.8.0
aiocqhttp~=1.4.0
aiohttp~=3.8.1
lxml>=4.9.1
pytz>=2019.3
# requests>=2.23.0
sogou_tr_free~=0.0.8
zhconv~=1.4.1
# Pillow~=9.1.0
# matplotlib~=3.2.1
numpy~=1.22.3
beautifulsoup4~=4.9.0
# pygtrie~=2.3.3
tinydb~=4.1.1
peony-twitter[all]~=2.1.2
cloudscraper~=1.2.60

# aiocqhttp==1.4.3
# aiohttp==3.7.4
APScheduler==3.7.0
expiringdict==1.2.1
Jinja2==3.1.2
# nonebot==1.9.1
OpenCC==1.1.1
peewee==3.14.1
# Pillow==9.4.0
quart==0.18.3
requests==2.25.1
tzlocal==2.1

nonebot[scheduler]==1.9.1
Pillow==9.5.0
matplotlib~=3.7.1
pygtrie~=2.5.0
logzero==1.7.0
